button{
    outline: none;
    border: none;
    background-color: transparent;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background:var(--secCol);
  
}

::-webkit-scrollbar-thumb {
  background: var(--lightPrimCol);
  border-radius: 10px;
}

.box{
    position: relative;
    top:50px;
    margin-top: 4vh;
    padding:  2vh 10px;
}

.heading{
    font-family: var(--fontPrimary);
}

.passage{
    font-family: var(--fontSecondary);

}

.change{
    color: var(--primCol);
}

.front{
    font-size: var(--largeSize);
    font-family: var(--fontPrimary);
    padding: .5rem 1rem;
    color: var(--primCol);
    text-align: center;
}

.imager{
  width: auto;
  height: 60vh;
}

.tooler{
  width: 80%;
  margin: auto;
  margin-top: 4vh;
}





.tool-box{
  margin-block: 4vh ;
  padding-block: 4vh;
}



.tools{
  display: inline-block;
  border: 2px solid var(--primCol);
  margin: 1rem;
  font-size: var(--medSize);
  padding: 5px 15px;
  border-radius: 15px;
  color: var(--primCol);
}

.explain{
  width: 90%;
  margin: auto;
  padding: 2rem 1.5rem;
  font-family: var(--fontSecondary);
  font-weight: 500;
  font-size: var(--medSize);
  backdrop-filter: blur(20);
  text-align: justify;
}

.animate-box{
  margin-block: 6vh;
  padding: 2rem 1rem;
  font-family: var(--fontPrimary);
  font-size: var(--largeSize);
}