button{
    outline: none;
    border: none;
    background-color: transparent;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background:var(--secCol);
  
}

::-webkit-scrollbar-thumb {
  background: var(--lightPrimCol);
  border-radius: 10px;
}

.box{
    position: relative;
    top:50px;
    margin-top: 4vh;
    padding:  2vh 10px;
}

.heading{
    font-family: var(--fontPrimary);
}

.passage{
    font-family: var(--fontSecondary);

}

.change{
    color: var(--primCol);
}

.front{
    font-size: var(--largeSize);
    font-family: var(--fontPrimary);
    padding: .5rem 1rem;
    color: var(--primCol);
    text-align: center;
}

.imager{
  width: 100%;
  height: auto;
}

.imager img{
  object-fit: cover;
  width: 100%;
  height: auto;
}

.tooler{
  width: 80%;
  margin: auto;
  margin-top: 4vh;
}





.tool-box{
  margin-block: 4vh ;
  padding-block: 4vh;
}



.tools{
  display: inline-block;
  border: 2px solid var(--primCol);
  margin: 1rem;
  font-size: var(--medSize);
  padding: 5px 15px;
  border-radius: 15px;
  color: var(--primCol);
}

.explain{
  width: 90%;
  margin: auto;
  padding: 2rem 1.5rem;
  font-family: var(--fontSecondary);
  font-weight: 500;
  font-size: var(--medSize);
  backdrop-filter: blur(20);
  text-align: justify;
}

.animate-box{
  margin-block: 6vh;
  padding: 2rem 1rem;
  font-family: var(--fontPrimary);
  font-size: var(--largeSize);
}

.animate-box h1{
  font-size: var(--largeSize);
  color: black;
}


.service-box{
  font-family: var(--fontPrimary);
  color: var(--primCol);
  font-size: var(--medSize);
}

.choose-box{
  width: 100%;
  height: auto;
  background-color: var(--lightPrimCol);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-title{
  font-family: var(--fontPrimary);
  font-size: var(--medSize);
}



.btn-plan{
  background-color: var(--primCol);
  border: 3px solid var(--primCol);
  padding: 10px;
  font-weight: 600;
  margin: 5px;
  color: var(--secCol);
  border-radius: 10px;
  font-family: var(--fontSecondary);
}

.SUBS-TITLE{
  text-align: center;
  font-family: var(--fontPrimary);
  font-size: var(--medSize);
  color: var(--primCol);
  font-weight: 600;
  text-decoration: underline;
  
}

.price{
  color: var(--primCol);
  font-size: 19px;
  margin: 1rem;
  font-weight: 600;
}

.buy{
  border: 4px solid var(--primCol);
  text-decoration: none;
  color: var(--secCol);
  background-color: var(--primCol);
  padding: 7px;
  border-radius: 7px;
  font-size: 24px;
}

b{
  color: var(--primCol);
}

.faqheading{
  font-family: var(--fontPrimary);
}

.about-box h1{
  text-align: center;
  font-family: var(--fontPrimary);
}

.btn-contact{
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.btn-contact a{
  font-family: var(--fontPrimary);
  font-size: 22px;
}

.email{
  border: 2px solid red;
}
.whats{
  border: 2px solid green;
}

.email a{
  color: red;
  text-decoration: none ;
}

.whats a{
  color: green;
  text-decoration: none;
}

.foot-box{
  width: auto;
  height: 80vh;
  padding-block: 4vh;
  background-color: var(--primCol);
  margin-top: 4vh;
  position: relative;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.foot-First h2{
  color: var(--secCol);
  font-family: var(--fontPrimary);

}

.foot-First{
  font-family: var(--fontSecondary);
  color: white;
}

.foot-second h2{
  color: var(--secCol);
  font-family: var(--fontPrimary);
}

.foot-second p a{
  font-family: var(--fontPrimary);
  color: var(--secCol);
  text-decoration: none;
  font-size: 22px;
}

.foot-third h2{
  font-family: var(--fontPrimary);
  color: var(--secCol);
  margin-block: 4vh;
}

.social a{
  color: var(--secCol);
  font-size: 22px;
  margin: 9px;
  padding: 9px;
  border: 3px solid var(--primCol);
  border-radius: 8px;
}

.social a:hover{
  border: 3px solid var(--secCol);
  transition: border .4s linear;
}

.social a i{
  font-size: 25px;
}
